.container_sign{
    background: #F3EDE4;
    max-width: 1440px;
    .upload_content {
        background-color: #EFE3D4;
        width: 600px;
        height: 600px;
        .upload_inneer {
          width: 536px;
          height: 536px;
          border: 2px dashed #DEAF7B;
          border-radius: 24px;
        }
        .upload_inneer2 {
            width: 536px;
            height: 40%;
            border: 2px dashed #DEAF7B;
            border-radius: 24px;
            .file_title{
                width: 365px;
            }
            .file_name{
                width: 365px;
                height: 44px;
                border: 1px solid #DEC7AA;
                border-radius: 4px;
            }
          }
      }
}